* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-image: url(images/background.gif);
    height: 100vh;
    color: white;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(12, 12, 12);
    color: white;
}

.btn {
    display: inline-block;
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .3s;
    border-radius: 20px;
}

.btn:hover {
    background: white;
    color: black;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 100vh;
}

.logos img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logos {
    user-select: none;
}

.info-img img {
    user-select: none;
    
}

@media screen and (max-width: 768px) {
    .info-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .info-img img {
        width: 100%;
    }

    .info-text {
        text-align: center;
    }
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    height: 100vh;
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    height: 100vh;
}


.education img {
    width: 50%;
    margin-right: 10px;
}

.education-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.education-item {
    padding: 20px;
}


@media screen and (max-width: 768px) {
    .education-flex {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .education img {
        width: 100%;
    }
}


.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    height: 100vh;
    text-align: center;
}